.sidebar {
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.content {
  margin-left: 150px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
  }

  .hide-in-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-in-desktop {
    display: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

#file {
  display: none;
}
