body {
  background-color: #fefbd8 !important;
}

.topbar {
  width: 100%;
  background-color: #e3eaa7;
  position: fixed;
  height: 40px;
  top: 0;
  overflow: hidden;
  z-index: 1001;
}

.under-topbar {
  padding-top: 40px;
  box-sizing: border-box;
  height: 100%;
}

.sidebar {
  width: 130px;
  position: fixed;
  height: calc(100% - 40px);
  overflow: auto;
}

.content {
  margin-left: 130px;
}

.group {
  background-color: #ff7b25;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 0.5rem);
  border: 1px solid;
}
.groupnav {
  width: 180px;
  background-color: #e3eaa7;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.groups-content {
  margin-left: 180px;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .topbar {
    position: relative;
  }

  .under-topbar {
    padding-top: 0;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .groupnav {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .no-padding-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .content {
    margin-left: 0;
  }

  .groups-content {
    margin-left: 0;
  }

  .hide-in-mobile {
    display: none !important;
  }

  .group {
    width: 150px;
  }
}

.settings {
  margin: 1rem;
}

.no-wrap {
  flex-wrap: nowrap !important;
}
@media screen and (min-width: 768px) {
  .hide-in-desktop {
    display: none !important;
  }

  .half-on-desktop {
    width: 50% !important;
  }

  .settings {
    margin-left: 20% !important;
  }
}

#file {
  display: none;
}

.profile-pic {
  border: 2px solid #ddd;
  border-radius: 5%;
  padding: 5px;
}

.bej {
  background-color: #e3eaa7 !important;
}

.orange {
  color: #ff7b25 !important;
}

.bg-orange {
  background-color: #ff7b25 !important;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
